[Unit]
Description=Storm nimbus

Requires=docker.service
Requires=storm-nimbus-discovery@%i.service

After=network.service
After=docker.service
Before=storm-nimbus-discovery@%i.service

[Service]
Restart=on-failure
RestartSec=20

# Let processes take a while to startup
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOs environment variables
EnvironmentFile=/etc/environment

# Pre-Start and Start
## Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/bin/docker kill storm-nimbus-node-%H
ExecStartPre=-/usr/bin/docker rm storm-nimbus-node-%H
ExecStartPre=/usr/bin/docker pull rpaturu/storm-nimbus
# COREOS_PUBLIC_IPV4 needs to be changed to COREOS_PRIVATE_IPV4 if running in a private cluster
ExecStart=/usr/bin/docker run --name=storm-nimbus-node-%H --env HOST_IP=${COREOS_PUBLIC_IPV4} -p 6700:6700 -p 6701:6701 -p 6702:6702 -p 6703:6703 -p 6627:6627 rpaturu/storm-nimbus /opt/launch-nimbus.sh ${COREOS_PUBLIC_IPV4}

# STop
ExecStop=/usr/bin/docker stop storm-nimbus-node-%H

[X-Fleet]
X-Conflicts=storm-nimbus@*.service
